---
title: Brightcove SSAI Documentation
parent: null
---
<style translate="no">
  h1 {
    margin-bottom: 0;
  }
  td {
    padding: 0;
  }
</style>

<article class="landing-page-wrapper">
  <section class="landing-page-header" id="landing_page_header">
    <h1>{{ site.title }}</h1>
    <table width="100%" border="0">
	<tbody>
		<tr>
			<td width="30%">
			<div data-experience="5be4439bb5cd1c00106dc3f5" data-video-ids="5995509672001">&nbsp;</div>
			<script src="https://players.brightcove.net/20318290001/experience_5be4439bb5cd1c00106dc3f5/live.js"></script></td>
			<!--<td width="35%"><img height="61" src="https://solutions.brightcove.com/bcls/prod/ssai-logo.png" /></td>-->
			<td width="70%">

			<p>Brightcove Server-Side Ad Insertion (SSAI), formerly known as Once, dynamically stitches targeted ads into your content on the server and delivers both as one continuous stream.</p>
      <p>
        You’ll prevent ad blockers from detecting your ads, deliver a better viewing experience to your audience by eliminating buffering, and preserve your revenue.
      </p>
			</td>
		</tr>
	</tbody>
</table>
  </section>
  <section class="card-wrapper">
    {% for section in site.data.navigation offset:1 %}
    <section class="bcls-card-small" onclick="window.location.href='{{ section.url }}'">


      <div class="card-content">
        <h2>{{ section.name }}</h2>
        <ul>
          {% for doc in section.docs limit:4 %}
          <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
          {% endfor %}
        </ul>
        <!-- <p style="font-size:small;"><a href="{{ section.url }}">View all...</a></p> -->
      </div>
    </section>
    {% endfor %}
  </section>
</article>