---
title: Live
description: Guides related to live streams with Server-Side Ad Insertion (SSAI).
parent: Home
---

<!-- Template for section that just has sub-sections -->
{% for item in site.data.navigation %}
  {% if item.name == page.title %}
    <h1><i class="{{ item.icon }}"></i> {{ page.title }}</h1>
    <article class="bcls-article">
    <summary>{{ page.description }}</summary>
    <div class="row">
      {% for entry in item.docs %}
        <div class="col-12 col-lg-4 py-3">
          <div class="card shadow-sm" style="background: white" onclick="window.location.href = '{{ entry.url }}'">
            <div class="card-body">
              <div>
                {% if entry.docs %}
                <h5 class="card-title text-center m-2">{{ entry.name }}</h5>
                <ul class="list-group list-group-flush">
                  {% for subdoc in entry.docs %}
                  <li class="list-group-item"><a href="{{ subdoc.url }}" style="text-decoration: none;">{{ subdoc.name }}</a></li>
                  {% endfor %}
                </ul>
                {% else %}
                <h5 class="card-title">{{ entry.name }}</h5>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </article>
  {% endif %}
{% endfor %}
